<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/pulse.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body class="flex flex-col min-h-screen bg-[var(--clr-bg)]">
    <!-- LANDING PAGE NON-LOGGED IN USERS -->
    {% if not session.get("user_id") %}
    
    {% include 'components/navbar_guest.html' %}
    
    <!-- Wrapper of main contents to be movable -->
    <div class="flex-1 transition-all duration-300 pl-60 pr-60" id="wrapper">        
        <main class="w-full h-screen bg-[var(--clr-bg)] text-[var(--clr-txt-primary)] pt-12">
            {% block landing %}
                <!-- Landing page -->
            {% endblock %}
        </main>
        <footer>
            {% include 'components/footer_guest.html' %}
        </footer>
    </div>
    {% else %}
    
    
    <!-- LOGGED IN USERS -->
    
    <!-- sidebar -->
    {% include 'components/sidebar.html' %}
    
    <!-- navbar -->
    {% include 'components/navbar.html' %}
    
    <!--WRAPPER -->
    <div class="flex-1 transition-all duration-450 ml-20" id="wrapper">    
        <!-- MAIN  -->
        <main class="w-full h-screen bg-[var(--clr-bg)] text-[var(--clr-txt-primary)] pt-12 pl-12 pr-12">
            {% block main %}
            <!-- DONT PUT ANYTHING HERE! -->
            {% endblock %}
        </main>
        <footer>
            {% include 'components/footer.html' %}
        </footer>
    </div>
    {% endif %}
        
    <!-- Side bar and theme simple script -->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>