@import "tailwindcss";
@import "./my-theme.css";

/* Text input */
.txt-input-box {
  @apply w-full px-4 py-2 rounded-xl 
  bg-[var(--clr-surface-alt)] text-[var(--clr-txt-primary)]
  border border-[var(--clr-border)]
  focus:outline-none focus:ring-2 focus:ring-[var(--clr-primary)]
  transition-all duration-200;
}

/* Submit button */
.btn-submit {
  @apply w-full py-2.5 mt-2 rounded-xl font-medium
  bg-[var(--clr-primary)] text-[var(--clr-bg)]
  hover:bg-[var(--clr-secondary)] active:bg-[var(--clr-tertiary)]
  transition-all duration-200 ease-in-out
  cursor-pointer;
}


.btn-nav{
  @apply mr-2 ml-2 text-sm font-normal text-center text-[var(--clr-txt-primary)]
  hover:text-[var(--clr-txt-hover)]
  transition-all ease-in-out duration-200
}

.btn-nav-icon{
  @apply mr-3 ml-3 
  text-sm
  text-center
  text-[var(--clr-txt-primary)]
  hover:text-[var(--clr-txt-hover)]
  transition-all ease-in-out duration-200
}

.btn-side-bar{
  @apply 
  text-[var(--clr-txt-primary)]
  hover:text-[var(--clr-bg)]
  transition-all ease-in-out duration-200
  cursor-pointer
  select-none;
}

.side-bar-container{
  @apply fixed top-17 flex flex-col items-center justify-between pt-5 pb-5
  text-[var(--clr-txt-primary)]
}

.btn-side-bar-collapsed{
  @apply flex items-center justify-center w-12 h-12 
  text-[var(--clr-txt-primary)]
  mt-0.5 mb-0.5
  rounded-xl 
  cursor-pointer
  hover:bg-[var(--clr-primary)] hover:text-[var(--clr-bg)]
  transition-all ease-in-out duration-200
  select-none
}

.btn-side-bar-expand {
  @apply flex items-center justify-start w-56 h-12 px-4
  text-[var(--clr-txt-primary)]
  text-center
  mt-0.5 mb-0.5 ml-1
  rounded-full
  cursor-pointer
  hover:bg-[var(--clr-primary)] hover:text-[var(--clr-bg)]
  transition-all ease-in-out duration-200
  select-none;
}


.txt-input{
  @apply p-2 
  mr-1 ml-1 mt-1 mb-1 
  bg-[var(--clr-txt-muted)] text-[var(--clr-txt-secondary)]
  rounded-xl
}