:root {
  --clr-primary: #1E40AF;
  --clr-secondary: #2563EB;
  --clr-tertiary: #60A5FA;

  --clr-bg: #EEF2F8;
  --clr-surface: #FFFFFF;
  --clr-surface-alt: #F1F5F9;

  --clr-txt-primary: #0F172A;
  --clr-txt-secondary: #334155;
  --clr-txt-muted: #64748B;
  --clr-txt-hover: #1D4ED8;

  --clr-border: #CBD5E1;
  --clr-border-strong: #94A3B8;

  --clr-success: #16A34A;
  --clr-error: #DC2626;
  --clr-warning: #EAB308;
  --clr-info: #2563EB;

  --clr-glass-light: rgba(255, 255, 255, 0.39);
  --clr-glass-border: rgba(185, 185, 185, 0.5);
  --clr-glass-dark: rgba(0, 0, 0, 0.08);

  --clr-glow-primary: rgba(27, 94, 237, 0.603);
  --clr-glow-tertiary: rgba(71, 136, 215, 0.604);
}

[data-theme="dark"] {
  --clr-primary: #60A5FA;
  --clr-secondary: #3B82F6;
  --clr-tertiary: #1D4ED8;

  --clr-bg: #0F172A;
  --clr-surface: #1E293B;
  --clr-surface-alt: #273549;

  --clr-txt-primary: #F8FAFC;
  --clr-txt-secondary: #CBD5E1;
  --clr-txt-muted: #94A3B8;
  --clr-txt-hover: #93C5FD;

  --clr-border: #334155;
  --clr-border-strong: #475569;

  --clr-success: #22C55E;
  --clr-error: #F87171;
  --clr-warning: #FBBF24;
  --clr-info: #60A5FA;

  --clr-glass-light: rgba(255, 255, 255, 0.08);
  --clr-glass-border: rgba(255, 255, 255, 0.12);
  --clr-glass-dark: rgba(0, 0, 0, 0.4);

  --clr-glow-primary: rgba(96, 165, 250, 0.25);
  --clr-glow-tertiary: rgba(147, 197, 253, 0.25);
}


/* Local fonts for ease of use */
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'LLPIXEL3';
    src: url('/static/fonts/LLPIXEL3.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

