:root {
  /* Brand / Accent colors */
  --clr-primary: #2563EB;   
  --clr-secondary: #3B82F6; 
  --clr-tertiary: #60A5FA;  
  
  /* Background & surfaces */
  --clr-bg: #F5F7FA;        
  --clr-surface: #FFFFFF;  
  --clr-surface-alt: #F9FAFB;
  
  /* Text colors */
  --clr-txt-primary: #111827;
  --clr-txt-secondary: #475569;
  --clr-txt-muted: #64748B;   
  --clr-txt-hover: #1D4ED8;   

  /* Borders & dividers */
  --clr-border: #E5E7EB;      
  --clr-border-strong: #D1D5DB;

  /* Feedback colors */
  --clr-success: #16A34A;
  --clr-error: #DC2626;
  --clr-warning: #EAB308;
  --clr-info: #2563EB;

}

[data-theme="dark"] {
  /* Brand / Accent */
  --clr-primary: #60A5FA;
  --clr-secondary: #3B82F6;
  --clr-tertiary: #1D4ED8;

  /* Background & surfaces */
  --clr-bg: #0F172A;           
  --clr-surface: #1E293B;     
  --clr-surface-alt: #273549; 

  /* Text colors */
  --clr-txt-primary: #F8FAFC;
  --clr-txt-secondary: #CBD5E1;
  --clr-txt-muted: #94A3B8;
  --clr-txt-hover: #93C5FD;

  /* Borders & dividers */
  --clr-border: #334155;
  --clr-border-strong: #475569;

  /* Feedback */
  --clr-success: #22C55E;
  --clr-error: #F87171;
  --clr-warning: #FBBF24;
  --clr-info: #60A5FA;

}
/* Local fonts for ease of use */
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'LLPIXEL3';
    src: url('/static/fonts/LLPIXEL3.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

