
<!-- SIDEBAR COLLAPSED -->
<div id="sidebar-collapsed"  class="side-bar-container fixed left-0 top-[4.25rem] h-[calc(100vh-4.25rem)] w-20 z-30 bg-[var(--clr-surface)] text-white transform transition-transform duration-300 ease-in-out">
    <!-- PAGE LINKS -->
    <div class="flex justify-center items-center flex-col">
        <a href="{{ url_for('admin') }}" class="btn-side-bar-collapsed">
            <span class="material-symbols-outlined">home</span>
        </a>
        <a href="{{ url_for('teacher') }}" class="btn-side-bar-collapsed">
            <span class="material-symbols-outlined">account_circle</span>
        </a>
        <a href="{{ url_for('student') }}" class="btn-side-bar-collapsed">
            <span class="material-symbols-outlined">book_2</span>
        </a>
        <a href="{{ url_for('about') }}" class="btn-side-bar-collapsed">
            <span class="material-symbols-outlined">info</span>
        </a>
    </div>

    <div class="flex flex-col justify-center items-center mb-2">
        <button class="btn-side-bar-collapsed theme-toggle">
            <span class="material-symbols-outlined">light_mode</span>
        </button>

        <form action="{{ url_for('logout') }}" method="post" class="btn-side-bar-collapsed">
            <button class="material-symbols-outlined" id="logout-btn">
                logout
            </button>
        </form>
    </div>
</div>

<!-- SIDEBAR SHOWED -->
<div id="sidebar-expand" class="side-bar-container h-[calc(100vh-4.25rem)] w-60 z-40 bg-[var(--clr-surface)] text-white transform shadow-md shadow-black/30 -translate-x-full transition-transform duration-500">
    
    <div class="flex flex-col justify-center items-start">
        <!-- Expanded buttons -->
        <a href="{{ url_for('teacher') }}" class="btn-side-bar-expand">
            <span class="material-symbols-outlined">home</span>
            <span class="ml-4">Dashboard</span> 
        </a>
        <a href="{{ url_for('admin') }}" class="btn-side-bar-expand">
            <span class="material-symbols-outlined">account_circle</span>
            <span class="ml-4">Account</span> 
            
        </a>
        <a href="{{ url_for('student') }}" class="btn-side-bar-expand">
            <span class="material-symbols-outlined">book_2</span>
            <span class="ml-4">Course</span> 
        </a>
        <a href="{{ url_for('about') }}" class="btn-side-bar-expand">
            <span class="material-symbols-outlined">info</span>
            <span class="ml-4">About</span> 
        </a>
    </div>
    
    <div class="flex flex-col justify-center items-start mb-2">
        <button class="btn-side-bar-expand theme-toggle">
            <span class="material-symbols-outlined">light_mode</span>
            <span class="ml-4">Theme</span> 
        </button>
        <form action="{{ url_for('logout') }}" method="post" class="btn-side-bar-expand">
            <button class="material-symbols-outlined">
                logout
            </button>
            <button class="ml-4" id="logout-btn">Logout</button> 
        </form>
    </div>
</div>