@import "tailwindcss";
@import "./my-theme.css";

.btn-nav{
  @apply mr-2 ml-2 text-sm font-normal text-center text-[var(--clr-txt-primary)]
  hover:text-[var(--clr-txt-hover)]
  transition-all ease-in-out duration-200
}

.btn-nav-icon{
  @apply mr-3 ml-3 
  text-sm
  text-center
  text-[var(--clr-txt-primary)]
  hover:text-[var(--clr-txt-hover)]
  transition-all ease-in-out duration-200
}

.btn-side-bar{
  @apply 
  text-[var(--clr-txt-primary)]
  hover:text-[var(--clr-bg)]
  transition-all ease-in-out duration-200
  cursor-pointer
  select-none;
}

.side-bar-container{
  @apply fixed top-17 flex flex-col items-center justify-between pt-5 pb-5
  text-[var(--clr-txt-primary)]
}

.btn-side-bar-collapsed{
  @apply flex items-center justify-center w-12 h-12 
  text-[var(--clr-txt-primary)]
  mt-0.5 mb-0.5
  rounded-xl 
  cursor-pointer
  hover:bg-[var(--clr-primary)] hover:text-[var(--clr-bg)]
  transition-all ease-in-out duration-200
  select-none
}

.btn-side-bar-expand {
  @apply flex items-center justify-start w-56 h-12 px-4
  text-[var(--clr-txt-primary)]
  text-center
  mt-0.5 mb-0.5 ml-1
  rounded-full
  cursor-pointer
  hover:bg-[var(--clr-primary)] hover:text-[var(--clr-bg)]
  transition-all ease-in-out duration-200
  select-none;
}
